html {
    font-family: Helvetica;
}

h1 {
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url(pattern.jpeg);
}

h2 {
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.b {
    background-color: mediumspringgreen;
}

.f {
    background-color: lightcoral;
}

.p {
    background-color: skyblue;
}

.price {
    color: blue;
}